.navbar
{
    font-weight:bold;

    background-color: rgba(166,166,166,0.4);
        text-decoration-color: white;
        color: white;
}


#welcomeimg
{

  background-size: 100% 80%;
    max-width: 100%;
    max-height: 80%;


}

.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Sedgwick Ave', cursive;
}


.btn
{
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(153, 204, 255,0.9);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;

}


.container
{
  align-content: center;
}
